<div class="text-center">
    <h5>Welcome <%= user.displayName %> </h5>
    <h5 id="onlineUser"></h5>

    <div class="row mt-4 mb-4">
        <div class="col-6">
            <div class="card clickable" onclick="goTo('input')">
                <div class="card-body bg-info text-white fw-bold">
                    INPUT
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card clickable" onclick="goTo('output')">
                <div class="card-body bg-warning text-white fw-bold">
                    OUTPUT
                </div>
            </div>
        </div>
    </div>

    <a href="/login/auth/logout">Logout</a>
</div>