<div class="card">
    <div class="card-header text-center bg-info text-white">
        <h4>Data No Handphone</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-danger d-none" id="alert_input_error"></div>
        <div class="alert alert-success d-none" id="alert_input_success"></div>
        <!-- GET USER -->
        <input type="hidden" value="<%= user.displayName %>" name="user">

        <div class="mb-3">
            <label for="phone" class="form-label fw-bold">Phone Number</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="08xxxx" oninput="generateProvider(event)">
        </div>
        <div class="mb-3">
            <label for="provider" class="form-label fw-bold">Provider</label>
            <select class="form-select" id="provider" name="provider">
                <option value="">Choose Provider</option>
                <% provider.forEach(element => { %>
                    <option value="<%= element %> ">
                        <%= element %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div class="float-end">
            <!-- BUTTON SAVE -->
            <button class="btn btn-sm btn-success" id="btn_save" type="button" onclick="inputSubmit()">SAVE</button>
            <button class="btn btn-sm btn-success d-none" id="btn_save_loader" type="button" disabled>
                <i class="fas fa-spinner fa-pulse"></i> SAVE
            </button>

            <!-- BUTTON AUTO -->
            <button class="btn btn-sm btn-outline-danger" id="btn_auto" type="button" onclick="inputSubmitAuto()">AUTO</button>
            <button class="btn btn-sm btn-outline-danger d-none" id="btn_auto_loader" type="button" disabled>
                <i class="fas fa-spinner fa-pulse"></i> AUTO
            </button>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a href="/">Back</a>
</div>