<div class="card">
    <div class="card-header text-center bg-warning text-white">
        <h4>Output</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                  <th class="text-center">Ganjil</th>
                  <th class="text-center">Genap</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">First</th>
                </tr>
            </tbody>
        </table>

        <div class="float-end">
            <button class="btn btn-sm btn-primary">EDIT</button>
            <button class="btn btn-sm btn-outline-danger">DELETE</button>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a href="/">Back</a>
</div>